body{background-color: aliceblue;}

.main-container{
border:3px solid black;
display: flex;
}

.sidebar{
/* background-color: aquamarine; */
padding:20px;
height: 1100px;
}

.content{
    border:1px solid blue;
background-color: bisque;
width: 100%;
padding:20px;

}

.sidebar a{
    /* border: 1px solid black; */
    padding:10px;
    display: block;
    font-size: 30px;
}

h2{
    /* border: 1px solid black; */
    padding:10px;
    text-decoration: underline;
    font-size: 38px;
}